body {
    height: 100vh;
}

main {
    min-height: 0;
    display: flex;
    flex-grow: 1;
    padding: 20px 0;

}

/* CSS do Banner */

    .band__banner {
        width: 100%;
        height: 400px;

        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.452), rgba(131, 0, 0, 0)), url(../assets/images/banners/BMTH.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        
        border-radius: 10px;
    }