body {
    gap: 50px;
}

main button {
    background: none;
    border: none;
    cursor: pointer;
}

/* CSS do Banner */

.band__banner {
    height: 400px; 
    
    display: flex;
    align-items: end;
    
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 16px 16px 0 0;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.band__header {
    padding: 0 15px;
    margin-bottom: 15px;
}

.band__tags {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title__icon {
    margin-bottom: 15px;
}

.band__title {
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#favorite-icon-placeholder {
    width: 50px;
    height: 50px;
}

.tag {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 700;
    
    text-transform: uppercase;
    letter-spacing: 1px;
    
    padding: 6px 14px;
    border-radius: 20px;
}

.ranking {
    color: #000000;
}

.gold {
    background: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728);
    box-shadow: 0 2px 5px #B38728;
}

.silver{
    background: linear-gradient(45deg, #A0A0A0, #F7F7F7, #A0A0A0);
    box-shadow: 0 2px 5px #A0A0A0;
}

.bronze {
    background: linear-gradient(45deg, #804A00, #CD7F32, #FFAD60);
    box-shadow: 0 2px 5px #FFAD60;
}

.genre {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

/* CSS da navbar */

.band__nav {
    display: flex;
    gap: 30px;
    padding: 0 30px;
    border-bottom: 1px solid rgba(255,255,255,0.1); 
}

.nav__item {
    color: var(--text-secondary);
    font-weight: 700;
    font-size: 1.1rem;
    
    padding-bottom: 12px;
    transition: color 0.3s ease;

    background: none;
    border: none;
}

.nav__item:hover {
    color: var(--feeling-angry);
    border-bottom: 3px solid var(--feeling-angry);
}

.active {
    color: var(--feeling-angry);
    border-bottom: 3px solid var(--feeling-angry);
}

/* CSS da bio */

.band__content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-medium); 
    padding: 30px 30px;
    border-radius: 0 0 16px 16px; 
    gap: 15px;
}

.section__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.band__bio {
    line-height: 1.8;
    color: var(--text-secondary);
    max-width: 800px;
    white-space: pre-line;
}

/* CSS dos álbuns e músicas */
#albuns {
    display: none;
    flex-direction: column;
    gap: 15px;
}

details {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
}

summary {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
}

summary:hover {
    border: 1px solid var(--feeling-angry);
    border-radius: 12px;
}

.album__cover {
    width: 60px;
    height: 60px;
    border-radius: 2px;
    margin-right: 20px;
}

.album__info {
    flex: 1; 
}

.album__year {
    font-family: 'Inter';
    color: #888;
}

.album__musics__list {
    border-top: 1px solid #333;
    background-color: #161616;
    padding: 10px 0;
    border-radius: 10px;
}

.music__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
}

.music__row:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.music__left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.music__number {
    color: #555;
}

/* CSS tag de sentimento. */

.music__mood {
    font-family: 'Inter';
    font-size: 0.85rem;
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px solid;
}

.mood__raiva {
    color: var(--feeling-angry);
    border-color: var(--feeling-angry);
    background: color-mix(in srgb, var(--feeling-angry), transparent 85%);
}

.mood__angústia {
    color: var(--feeling-anguish);
    border-color: var(--feeling-anguish);
    background: color-mix(in srgb, var(--feeling-anguish), transparent 85%);
}

.mood__tristeza {
    color: var(--feeling-sadness);
    border-color: var(--feeling-sadness);
    background: color-mix(in srgb, var(--feeling-sadness), transparent 85%);
}

.mood__solidão {
    color: var(--feeling-loneliness);
    border-color: var(--feeling-loneliness);
    background: color-mix(in srgb, var(--feeling-loneliness), transparent 85%);
}   

.mood__energia {
    color: var(--feeling-energy);
    border-color: var(--feeling-energy);
    background: color-mix(in srgb, var(--feeling-energy), transparent 85%);
}

.mood__desafio {
    color: var(--feeling-challenge);
    border-color: var(--feeling-challenge);
    background: color-mix(in srgb, var(--feeling-challenge), transparent 85%);
}

.mood__catarse {
    color: var(--feeling-catharsis);
    border-color: var(--feeling-catharsis);
    background: color-mix(in srgb, var(--feeling-catharsis), transparent 85%);
}

/* CSS dos botões interativos. */
.music__actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.interactive__icon {
    width: 30px;
    height: 30px;
}