main {
    width: 100%;
}

/* CSS do Banner */

.banner {
    min-height: 90vh;
    
    display: flex;
    justify-content: center;
    
    background-image: linear-gradient(to top, var(--bg-dark), rgb(131, 0, 0));
}

.cta__container {
    width: 35%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 4rem;
}

/* CSS da Seção Expresse-se */

.expresse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 2rem;

    background-image: linear-gradient(to top, rgba(32, 32, 32, 0.1), var(--bg-dark));
}

.expresse__container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 5rem;
}

/* CSS das Funcionalidades */

.funcionalidade__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.funcionalidade__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.vote__borda {
    border: 2px solid transparent;
    
    background-image: 
    linear-gradient(var(--bg-dark), var(--bg-dark)),
    linear-gradient(to bottom, #3498DB, #D94444);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    
    border-radius: 10px;
    padding: 0.5rem 0;
}

.favorite__borda {
    border: 1px solid var(--feeling-energy);
    border-radius: 10px;
    padding: 0.5rem 0rem;
}

.funcionalidade__content img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    flex-shrink: 0;
    margin-left: 15px;
}

.titulo__texto {
    width: 90%;
    display: flex;
    flex-direction: column;
    
    gap: 0.5rem;
}

/* CSS do Texto de Sentimentos */

.info__container {
    display: flex;
    justify-content: space-between;
}

.musica__texto {
    width: 50%;
}

.musica__emocoes {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tag {
    padding: 10px 7%;
    border-radius: 10px;
}

.tag__raiva {
    color: var(--feeling-angry);
    background-color: color-mix(in srgb, var(--feeling-angry), transparent 90%);
    border: 1px solid var(--feeling-angry);
}

.tag__energia {
    color: var(--feeling-energy);
    background-color: color-mix(in srgb, var(--feeling-energy), transparent 90%);
    border: 1px solid var(--feeling-energy);
}

.tag__solidao {
    color: var(--feeling-loneliness);
    background-color: color-mix(in srgb, var(--feeling-loneliness), transparent 90%);
    border: 1px solid var(--feeling-loneliness);
}

.tag__desafio {
    color: var(--feeling-challenge);
    background-color: color-mix(in srgb, var(--feeling-challenge), transparent 90%);
    border: 1px solid var(--feeling-challenge);
}

.tag__angustia {
    color: var(--feeling-anguish);
    background-color: color-mix(in srgb, var(--feeling-anguish), transparent 90%);
    border: 1px solid var(--feeling-anguish);
}

.tag__catarse {
    color: var(--feeling-catharsis);
    background-color: color-mix(in srgb, var(--feeling-catharsis), transparent 90%);
    border: 1px solid var(--feeling-catharsis);
}

.tag__tristeza {
    color: var(--feeling-sadness);
    background-color: color-mix(in srgb, var(--feeling-sadness), transparent 90%);
    border: 1px solid var(--feeling-sadness);
}

/* CSS da Seção Conheça-se */

.conheca__container {
    justify-content: space-between;
    align-items: center;
}

.conheca__grafico {
    width: 40%;
    height: 30vh;
}

.radar__texto {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;
}

/* CSS da Seção de Bandas */

.bandas {
    display: flex;
    justify-content: center;

    margin-top: 10rem;
    margin-bottom: 5rem;

    background-color: var(--bg-dark);
}

.banda__container h2 {
    align-self: center;
}

.banda__container {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 5rem;
}

.lista__bandas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.lista__bandas img {
    width: auto;
    height: auto;
    max-height: 150px;
    max-width: 150px;
}