@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Configurações Compartilhadas */

:root {
    /* Cores de Base */
    --bg-dark: #121212; /* Fundo principal */
    --bg-medium: #1E1E1E; /* Fundo dos cards */
    --bg-header: rgba(30, 30, 30, 0.8); /* Fundo Transparente Header */
    
    /* Cores de Texto */
    --text-primary: #F5F5F5; /* Texto principal (Branco Gelo) */
    --text-secondary: #AAAAAA; /* Texto secundário (Cinza) */
    
    /* Cores de Sentimento */
    --feeling-angry: #DC2626;
    --feeling-anguish: #9333EA;
    --feeling-sadness: #3B82F6;
    --feeling-loneliness: #9CA3AF;
    --feeling-energy: #FACC15;
    --feeling-challenge: #F97316;
    --feeling-catharsis: #10B981;    
}

body {
    width: 100%;
    min-height: 100vh;
    
    margin: 0;
    padding: 0;
    
    color: var(--text-primary);
    background-color: var(--bg-dark);
}

/* Configurações de Texto */

h1 {
    font-family: 'Archivo Black';
    font-size: 3rem; /* 48px */
    margin: 0;
    margin-block: 0;
}

h2 {
    font-family: 'Archivo Black';
    font-size: 2.25rem; /* 36px */
    margin: 0;
    margin-block: 0;
}

h3 {
    font-family: 'Archivo Black';
    font-size: 1rem; /* 16px */
    margin: 0;
    margin-block: 0;
}

p {
    font-family: 'Inter';
    font-size: 1rem; /* 16px */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Inter';
    font-size: 1rem; /* 16px */
    text-decoration: none;
    color: inherit;
}

/* Configurações Header */

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: var(--bg-header);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Configurações Header Deslogado */

.header__nav__deslogado {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ranking__banda {
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 2px solid var(--text-secondary);
}

.login__cadastro {
    display: flex;
    align-items: center;
}

.navbar__items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__items a {
    transition: 0.3s;
    display: flex; /* Ajuda a alinhar o texto */
    align-items: center;
}

.navbar__items a:hover {
    padding-bottom: 10%;
    border-bottom: 3px solid var(--feeling-angry);
}

.botao__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

    border-radius: 5px;
    color: black;
    background-color: var(--text-primary);
}

